@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Futura Bk BT";
  src: url("/fonts/FuturaBT-Book.woff2") format("woff2"),
    url("/fonts/FuturaBT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura BdCn BT";
  src: url("/fonts/FuturaBT-BoldCondensed.woff2") format("woff2"),
    url("/fonts/FuturaBT-BoldCondensed.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Futura Md BT";
  src: url("/fonts/FuturaBT-MediumItalic.woff2") format("woff2"),
    url("/fonts/FuturaBT-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

body {
  font-family: "Futura Bk BT", Arial, sans-serif;
}
